@media (max-width: 425px){
    .container__img{
        width: 40rem;
        height: 40rem;
        padding: 5rem 3rem;

    }
    .name{
        font-size: 3.2rem;
            -webkit-text-stroke-width: 0.1rem;
    }
    
}